.feature-item {
  position: relative;
  padding-bottom: 2.5rem;


  @mixin small {
    padding-left: 94px;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin small {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: .7em;
    margin-bottom: .8rem;
    text-align: center;

    @mixin small {
      text-align: left;
      font-size: 1.875rem;
      margin-top: 1rem;
    }
  }

}
